In [1]:
import pandas as pd

In [2]:
data = pd.read_json("../sqlxmatch_data.json")

In [26]:
data.dtypes

catalog_name    string[python]
table_name      string[python]
column_name     string[python]
description     string[python]
unit            string[python]
ucd                     object
utype                   object
datatype        string[python]
size                   float64
precision              float64
scale                  float64
column_index             int64
schema_name     string[python]
dtype: object

In [ ]:
data["catalog_name"] = data["catalog_name"].astype("string")
data["table_name"] = data["table_name"].astype("string")
data["column_name"] = data["column_name"].astype("string")
data["description"] = data["description"].astype("string")
data["unit"] = data["unit"].astype("string")
data["ucd"] = data["ucd"].astype("string")
data["utype"] = data["utype"].astype("string")
data["datatype"] = data["datatype"].astype("string")
data["schema_name"] = data["schema_name"].astype("string")

In [28]:
data["utype"].unique()

array([''], dtype=object)

In [4]:
data.to_parquet("../cas_sdss_mcp/data/tbls_cols.parquet", compression="gzip")

In [6]:
data.columns

Index(['catalog_name', 'table_name', 'column_name', 'description', 'unit',
       'ucd', 'utype', 'datatype', 'size', 'precision', 'scale',
       'column_index', 'schema_name'],
      dtype='object')

In [ ]:
for g in data.groupby("table_name"):
    break

['objID', 'objName', 'ra', 'dec', 'cx', 'cy', 'cz', 'htmid', 'zoneid', 'PER', 'HJD0', 'VMAX', 'VAMP', 'TYPE', 'GCVS_ID', 'GCVS_TYPE', 'IR12', 'IR25', 'IR60', 'IR100', 'J', 'H', 'K', 'V_IR12', 'V_J', 'V_H', 'V_K', 'J_H', 'H_K']

In [12]:
data.loc[:, ["catalog_name", "table_name", "description"]].iloc[0:10]

  catalog_name     table_name description
0         ACVS  ACVS_PhotoObj
1         ACVS  ACVS_PhotoObj
2         ACVS  ACVS_PhotoObj
3         ACVS  ACVS_PhotoObj
4         ACVS  ACVS_PhotoObj
5         ACVS  ACVS_PhotoObj
6         ACVS  ACVS_PhotoObj
7         ACVS  ACVS_PhotoObj
8         ACVS  ACVS_PhotoObj
9         ACVS  ACVS_PhotoObj