In [1]:
import pandas as pd

In [2]:
data = pd.read_json("../sqlxmatch_data.json")

In [6]:
data.columns

Index(['catalog_name', 'table_name', 'column_name', 'description', 'unit',
       'ucd', 'utype', 'datatype', 'size', 'precision', 'scale',
       'column_index', 'schema_name'],
      dtype='object')

In [ ]:
for g in data.groupby("table_name"):
    break

['objID', 'objName', 'ra', 'dec', 'cx', 'cy', 'cz', 'htmid', 'zoneid', 'PER', 'HJD0', 'VMAX', 'VAMP', 'TYPE', 'GCVS_ID', 'GCVS_TYPE', 'IR12', 'IR25', 'IR60', 'IR100', 'J', 'H', 'K', 'V_IR12', 'V_J', 'V_H', 'V_K', 'J_H', 'H_K']

In [12]:
data.loc[:, ["catalog_name", "table_name", "description"]].iloc[0:10]

  catalog_name     table_name description
0         ACVS  ACVS_PhotoObj
1         ACVS  ACVS_PhotoObj
2         ACVS  ACVS_PhotoObj
3         ACVS  ACVS_PhotoObj
4         ACVS  ACVS_PhotoObj
5         ACVS  ACVS_PhotoObj
6         ACVS  ACVS_PhotoObj
7         ACVS  ACVS_PhotoObj
8         ACVS  ACVS_PhotoObj
9         ACVS  ACVS_PhotoObj